@import './index.css';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-accent-clr);
    padding-inline: 5rem;
    
}

.header > .title {
    font-size: 1rem;
    text-transform: capitalize;
}

.player_display {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.player_display > p {
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: capitalize;
    color: rgb(200, 199, 199);
}

.disc {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: black;
}

.player1_disc {
    background-color: var(--player1-deactive-clr);
}

.player2_disc {
    background-color: var(--player2-deactive-clr);
}

.scoreDisplay {
    width: 2rem;
    height: 2rem;
    background-color: white;
}

.attribute {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player_display > p.active {
    color: white;
}

.player1_disc.active {
    animation: turn 1.5s infinite forwards;
}

.player2_disc.active {
    animation: turn2 1.5s infinite;
}

@keyframes turn {
    0% {
        background-color: var(--player1-clr);
    }
    50% {
        background-color: var(--player1-deactive-clr);
    }
    100% {
        background-color: var(--player1-clr);
    }
}
@keyframes turn2 {
    0% {
        background-color: var(--player2-deactive-clr);
    }
    50% {
        background-color: var(--player2-clr);
    }
    100% {
        background-color: var(--player2-deactive-clr);
    }
}

@media (max-width: 768px) {
    .header {
        padding-inline: 1rem;
    }

    .header > .title {
        font-size: 0.8rem;
    }

    .player_display {
        gap: 0.5rem;
    }

    .player_display > p {
        font-size: 1rem;
        font-weight: 600;
    }

    .player_display > p {
        font-size: 1rem;
    }

    .disc {
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media (max-width: 520px) {
    .header {
        padding-inline: 0.5rem;
    }

    .header > .title {
        font-size: 0.6rem;
    }

    .player_display {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0;
        margin-bottom: 0.5rem;
    }

    .player_display > p {
        font-size: 0.8rem;
        font-weight: 600;
    }

    .player_display > p {
        font-size: 1rem;
    }

    .disc {
        width: 1.5rem;
        height: 1.5rem;
    }
}